<div class="page-sidebar nav-collapse collapse">

    <!-- BEGIN SIDEBAR MENU -->

    <ul class="page-sidebar-menu">

        <li>

            <div class="sidebar-toggler hidden-phone"></div>


        </li>
        <li>

            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

{#            <form class="sidebar-search" action="" method="get">#}
{##}
{#                <div class="input-box">#}
{##}
{#                    <a href="javascript:;" class="remove"></a>#}
{##}
{#                    <input type="text" placeholder="Search...">#}
{##}
{#                    <input type="button" class="submit" value=" " disabled>#}
{##}
{#                </div>#}
{##}
{#            </form>#}

            <!-- END RESPONSIVE QUICK SEARCH FORM -->

        </li>

        <li id="index" class="start">

            <a href="{% url "index" %}">

                <i class="icon-home"></i>

                <span class="title">导航</span>

                <span class="selected"></span>

            </a>

        </li>


    </ul>

    <!-- END SIDEBAR MENU -->

</div>